@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Urbanist&display=swap');

.App {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eadeda;
}

.navbar {
    background-color: #89608e;
    width: 100%;
    height: 50px;
    font-family: 'Chivo', 'sans-serif';
    display: flex;
}

.navbar .leftSide {
    flex: 50%;
    display: flex;
}
 .navbar .rightSide {
    flex: 50%;
    display: flex;
 }